<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jl.crm.android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />


    <!--

        <application
            android:name="com.joshlong.spring.walkingtour.android.Crm"
            android:label="@string/app_name">

          &lt;!&ndash;  <activity
                android:name=".view.activities.CustomerListActivity"
                android:label="@string/app_name">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>

            <activity
                android:label="@string/app_name"
                android:name=".view.activities.CustomerDetailActivity">

            </activity>
    &ndash;&gt;
        &lt;!&ndash;    <activity
                android:name=".TwitterWebOAuthActivity"
                android:excludeFromRecents="true"
                android:noHistory="true" >
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />

                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />

                    <data
                        android:host="twitter-oauth-response"
                        android:scheme="x-org-springsource-android-twitterclient" />
                </intent-filter>
            </activity>&ndash;&gt;

        </application>
    -->


    <application android:name=".Crm">
        <activity
            android:name=".activities.CrmWebOAuthActivity"
            android:excludeFromRecents="true"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--    <string name="twitter_oauth_callback_url">x-org-springsource-android-twitterclient://twitter-oauth-response</string>  -->
                <!--x-com-jl-crm-android://crm-oauth-response#access_token=dd994424-2d23-44ff-8063-17fe239014eb&token_type=bearer&expires_in=43040]] in DispatcherServlet-->
                <data
                    android:scheme="x-com-jl-crm-android"
                    android:host="crm-oauth-response" />

            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UserWelcomeActivity"
            android:excludeFromRecents="true"
            android:noHistory="true">


        </activity>

    </application>

</manifest>