<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head>
<title>Sign In</title>


</head>
<body>
	<span layout:fragment="header"> Sign In </span>

	<div layout:fragment="content">
		<div class="error"
			th:if="${session['SPRING_SECURITY_LAST_EXCEPTION'] ne null}">
			Your login attempt was not successful, try again.<br /> Reason: <span
				th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">Wrong
				input!</span>
		</div>


		<form th:action="@{/login}" method="post">


			<input type="text" name="username" class="form-control"
				placeholder="Username" required="required" autofocus="autofocus" />

			<input type="password" name="password" class="form-control"
				placeholder="Password" required="required" />

			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
		</form>




	</div>


</body>
</html>